:root {
	// Семейство шрифта по умолчанию
	--bs-font-family: "Montserrat", sans-serif;

	// Размер шрифта по умолчанию
	--bs-font-size: 16px;

	// Жирность шрифта по умолчанию
	--bs-font-weight: 400;

	// Базовая высота шрифта
	--bs-line-height: 1;

	// Цвет шрифта по умолчанию
	--white-color: #fff;
	--black-color: #2B2B2B;
	--light-black-color: #323232;
	--light-blue-color: #00AEEF;
	--blue-color: #0770DC;
	--night-blue-color: #2E4EA4;
	--dark-blue-color: #15358D;
	--gray-color: #B5B5B5;
	--bg-color: #EEF3F9;
}
